body {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-image: url(bg.jpg);
  background-attachment: fixed;
}

.search-container {
  margin: 50px auto auto auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 80%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.search-container #requestToSearch {
  height: 40px;
  width: 60%;
  font-size: 23px;
  cursor: pointer;
  border-radius: 5px;
  border: solid 3px rgba(141, 134, 134, 0.61);
  outline: none;
}

.search-container #requestToSearch:active {
  -webkit-box-shadow: 5px 0 15px rgba(167, 164, 164, 0.575);
          box-shadow: 5px 0 15px rgba(167, 164, 164, 0.575);
}

.search-container select {
  width: 120px;
  text-align: center;
  margin: auto 20px auto 20px;
  height: 44px;
  font-size: 23px;
  cursor: pointer;
  border-radius: 5px;
  border: 3px rgba(141, 134, 134, 0.61);
  outline: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}

.search-container select:active {
  -webkit-box-shadow: 5px 0 15px rgba(167, 164, 164, 0.575);
          box-shadow: 5px 0 15px rgba(167, 164, 164, 0.575);
}

.search-container select option {
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  outline: ridge;
}

.search-container select option:hover {
  background-color: rgba(172, 167, 167, 0.5);
  color: black;
  -webkit-box-shadow: 5px 0 15px rgba(167, 164, 164, 0.575);
          box-shadow: 5px 0 15px rgba(167, 164, 164, 0.575);
}

.search-container #search {
  width: 120px;
  height: 44px;
  font-size: 23px;
  text-align: center;
  cursor: pointer;
  border-radius: 5px;
  border: 3px rgba(141, 134, 134, 0.61);
  outline: none;
}

.search-container #search:hover {
  -webkit-box-shadow: 5px 0 15px rgba(167, 164, 164, 0.575);
          box-shadow: 5px 0 15px rgba(167, 164, 164, 0.575);
}

.requestDisplay {
  margin: auto 40px;
  font-size: 40px;
  text-align: center;
  font-weight: 900;
  color: rgba(245, 238, 238, 0.89);
}

.result-container {
  background: rgba(255, 255, 255, 0.082);
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  background-attachment: fixed;
  color: #a39f9f;
  border-radius: 30px;
  margin: 30px auto auto auto;
  width: 80%;
}

.results {
  margin: 30px 20px auto 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

html {
  color: rgba(245, 233, 233, 0.308);
}

.pages {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 80%;
  margin: auto;
  font-size: 18px;
}

.pages .page {
  padding: 15px;
  color: rgba(255, 235, 205, 0.376);
}

.pages .page:hover {
  color: blanchedalmond;
}

.pages .active {
  padding: 15px;
  color: white;
  text-decoration: underline;
}

.page-indicator {
  margin: auto 40px;
  font-size: 40px;
  text-align: center;
  font-weight: 900;
  color: rgba(245, 238, 238, 0.89);
}

.details {
  width: 100px;
  background-color: rgba(31, 29, 29, 0.5);
  color: rgba(255, 235, 205, 0.376);
  cursor: pointer;
  font-size: 20px;
  text-align: center;
  margin: auto;
  border: 1px solid rgba(255, 235, 205, 0.376);
}

.details:hover {
  color: white;
  border: 1px solid rgba(255, 255, 255, 0.376);
}
/*# sourceMappingURL=style.css.map */